<div class="layout-container">

  <header role="banner">
    {{ page.header }}
  </header>

  {% if page.feature |render|striptags|trim is not empty %}
    {{ page.feature }}
  {% endif %}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {% if page.tombras_tools %}
      {{ page.tombras_tools }}
    {% endif %}
    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="layout-sidebar-second" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </main>

  {% if page.footer %}
    <footer role="contentinfo">
      <div class="container">
        <div class="block-content">
          {{ page.footer }}
        </div>
        <div class="copyright">
          <p>&copy; {{ "now"|date("Y") }} all rights reserved by <a href="https://tombras.com">Tombras</a></p>
        </div>
      </div>
    </footer>
  {% endif %}

</div>{# /.layout-container #}
